<h2><%= l(:label_supplier_invoice) %></h2>
<%= javascript_include_tag 'index', :plugin => "redmine_wktime" %>
<script type="text/javascript"> 
    purRfqUrl = '<%=url_for(:controller => "wkrfq", :action => "index", :tab => "wkrfq")%>';
    purQuoteUrl = '<%=url_for(:controller => "wkquote", :action => "index", :tab => "wkquote")%>';
    purPurOrderUrl = '<%=url_for(:controller => "wkpurchaseorder", :action => "index", :tab => "wkpurchaseorder")%>';     
    purSupInvUrl = '<%=url_for(:controller => "wksupplierinvoice", :action => "index", :tab => "wksupplierinvoice")%>';
	purSupPayUrl = '<%=url_for(:controller => "wksupplierpayment", :action => "index", :tab => "wksupplierpayment")%>';
	purSupAccUrl = '<%=url_for(:controller => "wksupplieraccount", :action => "index", :tab => "wksupplieraccount")%>';
	purSupContactUrl = '<%=url_for(:controller => "wksuppliercontact", :action => "index", :tab => "wksuppliercontact")%>';
    prevTab = 'tab-<%= "#{controller_name}" %>';   
</script>
<%= render_tabs time_expense_tabs %>

<%= render :partial => 'wkaccount/account_index'%>

<%= hidden_field_tag 'back_url', url_for(params) %>