<% 
@wday_index = 1 
@trOpen = false
@row = 0
@total_hours = 0.0
thours = nums = Array[0.0, 0.0, 0.0, 0.0,0.0, 0.0, 0.0]
prev_entry = nil
entry = nil 
currencySym = ""
%>

<div class="wk-contextual">
<% if @editable %>
	<%= link_to l(:button_add_row), "#", { :onclick => "javascript:addRow();projectChanged(document.getElementsByName('time_entry[][project_id]'),0);add_row_timesheet_selectbox();", :class => 'icon icon-time-add' }%>
<% end %>
</div>
<div style="overflow: auto">
<table id="issueTable" class="list time-entries">
<thead>
<tr>
	<%= render :partial => 'issue_header'%>
</tr>
</thead>
<tbody>

<% unless entries.blank?
	col_values = []
	matrix_values = []
	weeklyHash = getWeeklyView(entries, controller.getUnitLabel, false)	
	weeklyHash.each do |key, matrix|
		matrix.each do |rows|
			issueWritten = false
			rows.each.with_index do |entry, i|
%>

				
				<% if !entry.blank? %>				
					<% if !issueWritten %>
						<% # this is a new Row %>
						<% # close the previously opened row first %>
						<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false,
							:padAt => 'end', :padTill => 8}%>
					
						<%= render :partial => 'edit_issues2', :locals => {:entry => entry, :isTemplate => false}%>		
						<% issueWritten = true %>
					<% end %>
					<% # fill the days till the current day %>
					<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false, 
							:padAt => 'begin', :padTill => i+1}%>
					<%= render :partial => 'edit_hours', :locals => {:entry => entry, :isTemplate => false, 
					:padAt => 'begin', :padTill => i+2}%>	
					<% thours[i] += entry.hours unless @prev_template%>
					<% @total_hours += entry.hours unless @prev_template%>
					<% currencySym = controller.getUnit(entry) %>
				<% end %>
			<% end %>
			<% # write only the firt row for previous week template
			  break if @prev_template %>
		<% end %>
	<% end %>

<% else -%>
	<% # if there are no entries, put an empty row%>
	<% currencySym = controller.getUnit(nil) %>
	<%= render :partial => 'edit_issues2', :locals => {:entry => nil, :isTemplate => false}%>
<% end %>
	
	<% # pad any incomplete days %>
	<%= render :partial => 'edit_hours', :locals => {:entry => nil, :isTemplate => false,
		:padAt => 'end', :padTill => 8}%>

	<!-- row for putting the total -->
	<tr>
	<td class="project"></td>
	<td class="issue"></td>
	<td class="activity"></td>
	<% if controller.enterCommentInRow %>	
		<td class="comments"></td>
	<% end %> <!-- for currency -->
	<% if !controller.getUnitLabel.blank? %>
		<td ></td>
	<% end %>
	<% if controller.getUnitLabel.blank? %>
		<% if controller.enterCustomFieldInRow(1) %>
			<td ></td>
		<% end %>
		<% if controller.enterCustomFieldInRow(2) %>
			<td ></td>
		<% end %>
	<% end %>
	<% thours.each_with_index do |th,i| %>		
		<td align="center"><%= currencySym %>&nbsp;<span id=<%= "day_total_#{i+1}" %>><%= ("%.2f" % th) %></span></td>
	<% end %>
	<td>	
	<b>	<%= l(:label_total) %>: <%= currencySym %>&nbsp;<span id="total_hours"><%= ("%.2f" % @total_hours) %></span></b>
	<%=h hidden_field_tag('total', ("%.2f" % @total_hours) ) %>
	<%=h hidden_field_tag('unit', currencySym) %>
	</td>
	</tr>	
	<%=h hidden_field_tag('hidden_clock_in_out', "" )  %>
	 <% if controller.showWorktimeHeader %>
		<!-- Remaining Hours -->
		<%= render :partial => 'worktime_header', :locals => {:str => 'remaining_hours', :isEditable => false, :value => '0.0'}%>
	<% end %>
</tbody>
</table>
</div>
<% if !@locked %>
	<% if @wktime.nil? || @wktime.status == 'n' || @wktime.status == 'r' %>
			<%= submit_tag l(:button_save), :id => 'wktime_save', :name => 'wktime_save',  :disabled => !(@row > 0)%>
			<%= submit_tag l(:button_save_continue), :id => 'wktime_save_continue', :name => 'wktime_save_continue' , :disabled => !(@row > 0)%>
		<% if !Setting.plugin_redmine_wktime[:wktime_use_approval_system].blank? &&
				Setting.plugin_redmine_wktime[:wktime_use_approval_system].to_i == 1 %>	
				<%= submit_tag l(:button_submit),:id => 'wktime_submit', :name => 'wktime_submit', :onclick => "return validateMinhour('#{controller.minHour}','#{getNonWorkingDayColumn(params[:startday])}','#{controller.minHourPerWeek}', '#{controller.maxHourPerWeek}');" , :disabled => !(@row > 0)%>
		<% end %>
	<% end %>
	<% if !Setting.plugin_redmine_wktime[:wktime_use_approval_system].blank? &&
		Setting.plugin_redmine_wktime[:wktime_use_approval_system].to_i == 1 %>
		<% if !@wktime.nil? && @wktime.status == 's' %>
			<%= submit_tag l(:button_wk_unsubmit), :name => 'wktime_unsubmit', :disabled => !(@row > 0)%>
			<% if controller.check_approvable_status() %>		
				<%= submit_tag l(:button_wk_approve), :name => 'wktime_approve', :disabled => !(@row > 0)%>
				<%=h hidden_field_tag('wktime_notes', "") %>
				<% # the jquery dialog box doesn't port the reject button value%>
				<%=h hidden_field_tag('hidden_wk_reject', "") %>
				<%= submit_tag l(:button_wk_reject), :name => 'wktime_reject', :disabled => !(@row > 0),
					:onclick => "return showNotes();" %>
			<% end %>
		<% elsif  !@wktime.nil? && @wktime.status == 'a' %>
			<% if controller.check_approvable_status()  %>		
				<%= submit_tag l(:button_wk_unapprove), :id => 'wktime_unapprove', :name => 'wktime_unapprove'%>
			<% end %>
		<% end %>
	<% end %>
<% end %>
<div class="splitcontentright">
<div class="contextual">
<% if @editable %>
	<%= link_to l(:button_add_row), "#", { :onclick => "javascript:addRow();projectChanged(document.getElementsByName('time_entry[][project_id]'),0);add_row_timesheet_selectbox();", :class => 'icon icon-time-add' } %>
<% end %>
</div>
</div>
<%= context_menu time_entries_context_menu_path %>
